@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Merienda", cursive;
}

.header h1 {
  margin: 0 !important;
  padding: 0 !important;
}

/* .h {
  background-image: url("./bd.png");
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;
  border-radius: 10px; */
  background-color: #0a192f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #013f3c7f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #048c857f;
}

i {
  cursor: pointer;
}

i:hover {
  color: rgb(82, 185, 151);
}

.b {
  animation: b 1s infinite;
}
@keyframes b {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
.c {
  animation: c 1s infinite;
}
@keyframes c {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* dotlottie-player .lottie-icon {
  height: 300px;
  width: 300px;
} */
